.login-page__submit-button {
    padding: 5px 20px;
    font-size: 1.2em;
    background-color: #B22329;
    color: #F8B33C;
    border-radius: 5px;
}

.login-error-message {
    padding: 3px 10px;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 5px;
    width: 200px;
    margin: 5px auto;
}